* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Trebuchet MS", "Ubuntu Mono", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

.hero {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #777;
}

.hero h2 {
  font-size: 3em;
  color: hsl(0, 0%, 95%);
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
}

.grid img {
  width: 320px;
  height: auto;
  transition: 0.4s;
  border-radius: 5px;
}

.grid img:hover {
  transform: scale(1.5);
  width: 320px;
}

@media screen and (max-width: 1180px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 970px) {
  .grid {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 650px) {
  .grid {
    width: 80%;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .grid img {
    width: 300px;
  }

  .grid img:focus {
    transform: scale(1.1);
    width: 200px;
  }
}
